<div id="heading-breadcrumbs">
  <div class="container">
    <div class="row d-flex align-items-center flex-wrap">
      <div class="col-md-7">
        <h1 class="h2">Work Flow Process</h1>
      </div>
      <div class="col-md-5">
        <ul class="breadcrumb d-flex justify-content-end">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Work Flow Process</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="content">
  <div class="container">
    <section class="bar">
      <div class="row">
        <div class="col-lg-9">
          <div class="heading">
            <h2>Work Flow Process</h2>
          </div>

          <h3>Our typical process for outsourcing work is described in the form of a flow chart below:</h3>
          <div class="card">
            <div class="card-body">
              <p>At the beginning, our experts will analyze your requirementsto drawup a suitable work plan. We will
                discuss the specifics of the plan in more detail and take your input to make improvements. </p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <p>As per the work plan, CRSP will divert its resources to the work assigned. We will split the work
                based on difficulty so that complex work is handled by team of experts with 5-6 years of experience.
                And, regular work will be handled by </p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <p>The completed work is reviewed by our Quality Assurance team and finally by our CPA before it is
                submitted for your review. The CPAwill be the single point contact between the Client and CRSP. We will
                share a monthly MIS with the client to keep track of the progress. </p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <p>Queries to non-reconciled or pending data will be sent to client and regular follow up will be done
                through email or telecomm to resolve the issues.</p>
            </div>
          </div>

          <h3>Communication flow between CRSP and Sam Carter & Co.</h3>

          <div class="card">
            <div class="card-body">
              <p>Secure Communication Channel will be setup between two companies. There are 3 ways to pass on the data
                communication.</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <p>CRSP will access your server through VPN/RDP/Go to your PC where you will provide the user ID and
                password. We will access the client data to work remotely. Final processed data will be stored in your
                server.</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <p>Second way is to scan the data at your office and email it to CRSP.In turn, CRSP will process the data
                and store it on the server. The client will have 24-hour access to their the data from our server.</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <p>Third way is to scan the data and upload it on the cloud server. We will access and process the data
                from cloud and store a backup on the cloud for your access. There will be a user name and password
                provided to CRSP. </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <app-why-choose-us-sidebar></app-why-choose-us-sidebar>
        </div>
      </div>
    </section>
  </div>
</div>