<br>
<br>
<br>
<div class="panel panel-default sidebar-menu with-icons">
  <div class="panel-heading">
    <h3 class="h4 panel-title">Why choose us</h3>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills flex-column text-sm">
      <li class="nav-item"><a routerLink="/why-choose-us/benefits" class="nav-link" routerLinkActive="active">Benefits</a></li>
      <li class="nav-item"><a routerLink="/why-choose-us/data-security" class="nav-link" routerLinkActive="active">Data security</a></li>
      <li class="nav-item"><a routerLink="/why-choose-us/work-flow-process" class="nav-link" routerLinkActive="active">Work flow process</a></li>
     </ul>
  </div>
</div>