<div id="heading-breadcrumbs">
  <div class="container">
    <div class="row d-flex align-items-center flex-wrap">
      <div class="col-md-7">
        <h1 class="h2">Contact us</h1>
      </div>
      <div class="col-md-5">
        <ul class="breadcrumb d-flex justify-content-end">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Contact us</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="content">
  <div class="container">
    <section class="bar">
      <div class="row">
        <div class="col-lg-12">
          <div class="heading">
            <h2>CONTACT CRSP CONNECT PVT. LTD.</h2>
          </div>

          <div class="row">
            <div class="col-md-4">
              <h3>KOTA</h3>
              <p>Manglam Chambers, Gumanpura</p>
              <p>Kota(RAJ) – INDIA​</p>
              <p>Email: Info@crspconnect.com</p>
              <p>Tel: +91 9414187422, 9057206062</p>
            </div>
            <div class="col-md-4">
              <h3>UDAIPUR</h3>
              <p>9E – Kothari Bhavan,</p>
              <p>Bhupalpura,</p>
              <p>Udaipur (RAJ) – INDIA</p>
              <p>Email: Info@crspconnect.com</p>
              <p>Tel: +91 9875770510, 9414157795</p>
            </div>
            <div class="col-md-4">
              <h3>AHMEDABAD</h3>
              <p>L7, Mahavir Nagar,</p>
              <p>Opp. Auda Garden,</p>
              <p>Nr. Shyamal Cross Road, Satellite</p>
              <p>Ahmedabad (GUJ) – INDIA</p>
              <p>Email: Info@crspconnect.com</p>
              <p>Tel: +91 9898819000</p>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12 text-center">
              <h3>USA</h3>
              <p>+1 929.275.7387</p>
              <p>+1 518.855.8062</p>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</div>