<div id="heading-breadcrumbs" style="background: url(src/assets/image/contact/about-us.jpg) center top no-repeat;">
  <div class="container">
    <div class="row d-flex align-items-center flex-wrap">
      <div class="col-md-7">
        <h1 class="h2">Contact us</h1>
      </div>
      <div class="col-md-5">
        <ul class="breadcrumb d-flex justify-content-end">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Contact us</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="content">
  <div class="container">
    <section class="bar">
      <div class="row">
        <div class="col-lg-12">
          <div class="heading">
            <h2>CONTACT CRSP CONNECT PVT. LTD.</h2>
          </div>
          <div class="row">
            <div class="col-md-3">
              <h3>USA</h3>
              <p class="text">Braj Aggarwal, CPA, P.C. ,</p>
              <p class="text">37-05 74th Street 3rd Floor,</p>
              <p class="text">Jackson Heights,</p>
              <p class="text">NY-USA-11372</p>
              <p class="text">Tel: +1 718-426-4661</p>
              <p class="text">Fax: +1 718-233-2525</p>
            </div>
            <div class="col-md-3">
              <h3>KOTA</h3>
              <p class="text">Manglam Chambers, Gumanpura</p>
              <p class="text">Kota(RAJ) – INDIA​</p>
              <p class="text">&nbsp;</p>
              <p class="text">&nbsp;</p>
              <p class="text">Email: Info@crspconnect.com</p>
              <p class="text">Tel: +91 9414187422, 9057206062</p>
            </div>
            <div class="col-md-3">
              <h3>UDAIPUR</h3>
              <p class="text">9E – Kothari Bhavan,</p>
              <p class="text">Bhupalpura,</p>
              <p class="text">Udaipur (RAJ) – INDIA</p>
              <p class="text">&nbsp;</p>
              <p class="text">Email: Info@crspconnect.com</p>
              <p class="text">Tel: +91 9875770510, 9414157795</p>
            </div>
            <div class="col-md-3">
              <h3>AHMEDABAD</h3>
              <p class="text">L7, Mahavir Nagar,</p>
              <p class="text">Opp. Auda Garden,</p>
              <p class="text">Nr. Shyamal Cross Road, Satellite</p>
              <p class="text">Ahmedabad (GUJ) – INDIA</p>
              <p class="text">Email: Info@crspconnect.com</p>
              <p class="text">Tel: +91 9898819000</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>