<br>
<br>
<br>
<div class="panel panel-default sidebar-menu with-icons">
  <div class="panel-heading">
    <h3 class="h4 panel-title">Who we are</h3>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills flex-column text-sm">
      <li class="nav-item"><a routerLink="/who-we-are/about-us" class="nav-link" routerLinkActive="active">About us</a></li>
      <li class="nav-item"><a routerLink="/who-we-are/work-culture" class="nav-link" routerLinkActive="active">Work culture</a></li>
      <li class="nav-item"><a routerLink="/who-we-are/vision-and-mission" class="nav-link" routerLinkActive="active">Vision and mission</a></li>
      <li class="nav-item"><a routerLink="/who-we-are/csr" class="nav-link" routerLinkActive="active">CSR</a></li>
      <li class="nav-item"><a routerLink="/who-we-are/our-group-of-companies" class="nav-link" routerLinkActive="active">Our group of companies</a></li>
      <li class="nav-item"><a routerLink="/who-we-are/key-people" class="nav-link" routerLinkActive="active">Key people</a></li>
    </ul>
  </div>
</div>