<div id="heading-breadcrumbs" style="background: url(src/assets/image/our-client/about-us.jpg) center top no-repeat;">
    <div class="container">
      <div class="row d-flex align-items-center flex-wrap">
        <div class="col-md-7">
          <h1 class="h2">Accountant</h1>
        </div>
        <div class="col-md-5">
          <ul class="breadcrumb d-flex justify-content-end">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active">Accountant</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="content">
    <div class="container">
      <section class="bar">
        <div class="row">
          <div class="col-md-3">
            <app-our-clients-sidebar></app-our-clients-sidebar>
          </div>
          <div class="col-lg-9">
            <div class="heading">
              <h2>Accountant</h2>
            </div>
            
            <p>We work with accountancy firms to handle their accounting needs such as keeping books, invoicing, budgeting, tax filing, etc. These accounting and administrative tasks need to be done accurately to avoid facing external audits or tax penalties. Since this work is time consuming in nature, it is not always optimal for firms that have limited staff to allocate their most qualified accounting personnel or hire new staff to do administrative tasks.  </p>

            <p>Our expert team of well qualified accountants helps them free up essential resources and manpower which is diverted to tasks with a more strategic nature. It generates promising results in the form of increased overall efficiency of their business. As we work with multiple accounting firms at once, we can offer cost effective solutions which are highly competitive in the market. Our accountant clients come with diverse needs and we therefore realize the importance of devising tailor-made solutions.</p>

            <p>We have a wide range of expertise in our team consisting of CA’s and CPA’s who can immediately address the specific needs of clients and by finding the most optimal methods. Our team is well versed with US accounting standards and has several years of experience using all kinds of accounting tools and software. Lastly, we strive to ensure data security of all our clients by handling all financial information with utmost care and confidentiality.</p>

          </div>
        </div>
      </section>
    </div>
  </div>