<div id="heading-breadcrumbs" style="background: url(assets/image/who-we-are/our-group-of-company.jpg) center top no-repeat;">
  <div class="container">
    <div class="row d-flex align-items-center flex-wrap">
      <div class="col-md-7">
        <h1 class="h2">Our Group of Companies</h1>
      </div>
      <div class="col-md-5">
        <ul class="breadcrumb d-flex justify-content-end">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Our Group of Companies</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <app-who-we-are-sidebar></app-who-we-are-sidebar>
      </div>
      <div class="col-md-9">
        <section class="bar">
          <div class="row">
            <div class="col-lg-12">
              <div class="heading">
                <h2>CRSP</h2>
                <p>CRSP offers knowledge process outsourcing services to CPA and other firms in USA. We offer tailor
                  made
                  solutions to clients from all types of small, medium and large organizations in accounting,
                  healthcare,
                  infrastructure, recruitment, IT and other industries. Our team consists of CA’S, CPA’s and
                  administrative
                  staff with years of experience in their field. Our expert's have acquired knowledge of communicating
                  with
                  various clients and understanding state rules and regulations. Some of the services we provide
                  include
                  accounting, financial, bookkeeping, inventory management, payroll, medical billing, etc.
                </p>
                <p>
                  We enforce a positive work culture where every employee is valued and an integral member of the team.
                  Our
                  vision is to provide the best knowledge process outsourcing services that are unparalleled and best
                  in
                  the market.</p>
                <p>We strive to ensure complete data security and confidentiality of information that we store.</p>
              </div>
              <div class="heading">
                <h2>Muskowl</h2>
              </div>
              <p>MuskOwl is an IT company that provides quality solutions in web design, web development, mobile
                application design and development, graphic design, web-based software, content writing and digital
                marketing among many others. We have many years of experience and in-house analytical expertise which
                helps
                us offer specialized services and form long term relationships with clients. Our team understands the
                goals
                and requirements of clients and works towards achieving flawless IT solutions. </p>
              <p>We make detailed analysis of clients, their business and market landscape which helps them acquire a
                competitive edge.</p>
              <p>To know more about our services, visit MuskOwl to let our team understand your specific requirements.</p>
              <h4>To book a consultation with our team or simply know more about our services, please visit <a href="http://www.muskowl.com/">MuskOwl</a>.</h4>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>