<div id="heading-breadcrumbs" style="background: url(src/assets/image/why-choose-us/about-us.jpg) center top no-repeat;">
  <div class="container">
    <div class="row d-flex align-items-center flex-wrap">
      <div class="col-md-7">
        <h1 class="h2">Benefits</h1>
      </div>
      <div class="col-md-5">
        <ul class="breadcrumb d-flex justify-content-end">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Benefits</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="content">
  <div class="container">
    <section class="bar">
      <div class="row">
        <div class="col-lg-9">
          <div class="heading">
            <h2>Benefits</h2>
          </div>

          <h3>We at CRSP ensure qualitative, cost effective, reliable, committed, secure and timely services to our
            esteemed clients. </h3>

          <h4>How do we ensure–</h4>

          <p>Experienced Team of Professionals: We have a committed team of professionals who have experience of more
            than 35 years. Our team has continually proven to be the best asset of our company. We consistently train
            our workforce to meet all requirements set forth by the clients. </p>
          <p>Infrastructure and Technology:We have readily available Infrastructure in India to accommodate 100
            employees. We have a fully functional office in USA taking care of client’s needs. We provide best in class
            data security and technology support to our clients. </p>
          <p>Client Reporting: We have a single point of contact for every client, who responds to client queries
            allowing the work to be completed on time and according to the requirements set forth. </p>
          <p>Adaptability: We are fully flexible in accommodating each client’s needs and we make sure that our team
            adapts to fulfilling their goals and objectives. </p>
          <p>Timeliness: We take each project with an aim to deliver results in a timely manner. Our team of experts
            are well-aware of every deadline and make sure to always provide status reports and updates. </p>
          <p>Cost Reduction: We ensure that projects and tasks undertaken by our team uses the most optimal resources
            needed to provide a cost-effective solution at very competitive rates. </p>
          <p>Data Security: We make sure to store the data with full privacy and confidentiality. We must deal with
            multiple clients at same time and we take full responsibility of ensuring data security with advanced tools
            and technologies. </p>
          <p>Lower Risk: We reduce the risk associated with client’s projects when they choose us as an outsourcing
            partner. As reports we provide are verif9oied by multiple experts, there are reduced risks of data
            manipulation. </p>
          <p>Quality Check: We not only provide cost effective solutions in timely manner but also ensure that our work
            is of the highest quality standards. </p>
          <p>Reliable Systems: Our processes and systems are time tested and backed by our trusted clients. It helps us
            provide actionable insights that our clients can readily implement to improve their operations.</p>
          <p>Focus on Business Development: We take care of time consuming and resource intensive administrative tasks
            so that our clients can focus on developing strategies to grow their business.</p>
          <p>Hassle-free work: Working with us is as easy as it gets. We have a dedicated team who are available to
            answer all your questions and get you started with minimal setup and obligations. </p>

        </div>
        <div class="col-md-3">
          <app-why-choose-us-sidebar></app-why-choose-us-sidebar>
        </div>
      </div>
    </section>
  </div>
</div>