<div id="heading-breadcrumbs">
  <div class="container">
    <div class="row d-flex align-items-center flex-wrap">
      <div class="col-md-7">
        <h1 class="h2">Data Security</h1>
      </div>
      <div class="col-md-5">
        <ul class="breadcrumb d-flex justify-content-end">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Data Security</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="content">
  <div class="container">
    <section class="bar">
      <div class="row">
        <div class="col-lg-9">
          <div class="heading">
            <h2>Data Security</h2>
          </div>


          <p>We understand the importance of securing customer data during all stages of their interactions with our
            team. We make it our highest priority to store all customer specific, transactional and financial data with
            utmost privacy and confidentiality. We have established long standing safeguards and measures to preserve
            customer data which helps us gain their trust and loyalty. </p>
          <p>Our infrastructure and offices are equipped with strong physical security including guards, vaults and
            file lockers which prevents any attempts of theft or breach. We always perform ID checks on all our
            employees to make sure the customer data is not being mishandled. All our employees have undergone a
            thorough background check and have been acquainted with our data protection policies. </p>
          <p>Our IT systems and machines are equipped with latest security programs and firewall to protect all
            important files. We have also taken steps to ensure proper encryption of all files in event of a data
            theft. We make sure that our systems are constantly updated with latest security measures and data is
            always fully protected on a secure server. </p>
          <p>We must deal with multiple clients at same time and we take full responsibility of ensuring data security
            with advanced tools and technologies.</p>


          <h3>Security and Infrastructure</h3>
          <p>Security of information is of paramount importance to us. For this reason we work to best-practice
            frameworks, having both secure facilities and systems. </p>

          <h4>SECURITY SYSTEMS/DATA PROTECTION/INFRASTRUCTURE</h4>

          <ul>
            <li>Team is located in office spaces with entry-card access only.</li>
            <li>Crossing data is forbidden.</li>
            <li>Highly secure File Transfer Protocol (FTP) server.</li>
            <li>Rapid internet connection (19 Mb personal line with 5Mbps backup)</li>
            <li>Global connectivity (2 x 2 Mb international private leased circuits via different trans-world routing)</li>
            <li>Secure remote servers with backed-up data.</li>
            <li>Thin client system having access to sever only with no access to external devices for any data security
              breach.</li>
          </ul>

          <h4>LOGICAL PROTECTION</h4>
          <ul>
            <li>In house managed email server.</li>
            <li>Incoming/outgoing e-mails are scanned through a cloud-based anti-spam solution.</li>
            <li>McAfee Enterprise edition anti-virus/malware software server protection.</li>
            <li>All incoming/outgoing data is controlled by sophisticated firewall.</li>
            <li>All local removable drives on workstations are disabled</li>
            <li>Transfer of important data is in encrypted form.</li>
          </ul>
          <h4>PHYSICAL SECURITY INCLUDES</h4>
          <ul>
            <li>24/7 building security outside and at office entrances.</li>
            <li>24/7 building security outside and at office entrances.</li>
            <li>CCTV surveillance at all entry points and key operational Area.</li>
          </ul>
        </div>
        <div class="col-md-3">
          <app-why-choose-us-sidebar></app-why-choose-us-sidebar>
        </div>
      </div>
    </section>
  </div>
</div>