<br>
<br>
<br>
<div class="panel panel-default sidebar-menu with-icons">
  <div class="panel-heading">
    <h3 class="h4 panel-title">Our clients</h3>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills flex-column text-sm">
      <li class="nav-item"><a routerLink="/our-clients/accountant" class="nav-link" routerLinkActive="active">Accountant</a></li>
      <li class="nav-item"><a routerLink="/our-clients/healthcare" class="nav-link" routerLinkActive="active">Healthcare</a></li>
      <li class="nav-item"><a routerLink="/our-clients/other-businesses" class="nav-link" routerLinkActive="active">Other businesses</a></li>
      <li class="nav-item"><a routerLink="/our-clients/it-projects" class="nav-link" routerLinkActive="active">It projects</a></li>
     </ul>
  </div>
</div>