<div id="heading-breadcrumbs" style="background: url(src/assets/image/what-we-do/tax.jpg) center top no-repeat;">
  <div class="container">
    <div class="row d-flex align-items-center flex-wrap">
      <div class="col-md-7">
        <h1 class="h2">Payroll Process</h1>
      </div>
      <div class="col-md-5">
        <ul class="breadcrumb d-flex justify-content-end">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Payroll Process</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="content">
  <div class="container">
    <section class="bar">
      <div class="row">
        <div class="col-lg-9">
          <div class="heading">
            <h2>Payroll Process</h2>
          </div>
          <p>Payroll processing is central to every business as it deals with employee payments, calculating salary and
            tax deductions and reporting everything in payroll tax filing.By outsourcing payroll processing service to
            experts will make this process incredibly easier for your businessas it reduces the time taken in keeping
            all the records. Our well-trained team of experts can help you with all aspects of payroll processing and
            thereby eliminate your need to train employees and invest in expensive payroll tools & software. As we need
            to deal with vast amount of employee data from many different clients, we are very serious when it comes to
            ensuring data security and keeping all your information secure.</p>


          <h3>Our payroll services include but are not limited to the following:</h3>


          <ul>
            <li>Payroll processing</li>
            <li>Payroll entries and record keeping</li>
            <li>Payroll reconciliation</li>
            <li>Payroll tax filing and Year-end tax filing & reporting.</li>
          </ul>

          <p>When you outsource payroll processing to our well qualified CA’s, we take care of all aspects such as
            creating payroll sheets, reports, paychecks, calculating taxes owed to federal and state agencies and
            deducting any employee insurance and benefits. We use the latest tools and expertise to make sure that your
            payroll is in order and there are no IRS penalties. The process will vary based on each organization
            depending on the structure, tax system & state rules and regulations. Our experts are trained to handle
            payroll processing for all types of businesses and providing detailed reports that will also give you a
            general idea of cost of each employee. </p>

          <p>Payroll entries consist of employee record keeping and it not just involves pay slips and tax sheets but
            other useful information like attendance, vacation & sick days, bonuses, increments, new employees,
            transfers & promotions. The structure of this information will vary based on the type of organization. By
            taking in all relevant employee information will allow us to calculate the gross salary and adjusting for
            any deductions, social security & insurance benefits. We realize the importance of streamlining this
            process for your business by offering tailored services based on your organizational structure. </p>

          <p>Payroll reconciliation is an important part of making sure that all data in payroll reports matches with
            payroll expense reports. We will reconcile everything in the payroll register including wages, deductions,
            hours worked and other entries. This step is necessary to ensure that all the work put in by the employees
            is accounted for and you avoid any chances of conflicts, penalties or even lawsuits.We have expertise to
            help you with payroll tax filing for state payroll taxes in the form of income taxes and unemployment
            taxes. We will make sure that the appropriate forms and guidelines are followed in preparing the wage
            reports for tax filing purposes. </p>
          <p>Since payroll is demanding but a non-core administrative function, many people are outsourcing it to
            experts. There are numerous advantages for doing this and the best one being that it frees up valuable
            resources to optimize your operational efficiency. It is also a cost-effective solution as you don’t have
            to hire new staff or invest in expensive software and online resources. As our experts deal with multiple
            clients, we ensure total data security and make sure that your information is handled with the utmost care.
            By outsourcing payroll processing to experts at CRSP, you will be rest assured that your register is up to
            date with detailed records and swift tax filings. </p>
        </div>
        <div class="col-md-3">
          <app-what-we-do-sidebar></app-what-we-do-sidebar>
        </div>
      </div>
    </section>
  </div>
</div>