<div id="heading-breadcrumbs">
  <div class="container">
    <div class="row d-flex align-items-center flex-wrap">
      <div class="col-md-7">
        <h1 class="h2">Tax Preparation</h1>
      </div>
      <div class="col-md-5">
        <ul class="breadcrumb d-flex justify-content-end">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Tax Preparation</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="content">
  <div class="container">
    <section class="bar">
      <div class="row">
        <div class="col-lg-12">
          <div class="heading">
            <h2>Tax Preparation</h2>
          </div>

          <p>Taxes are an obligation that every business needs to fulfill on time. And, filing for taxes can become a
            lengthy process depending on the size and type of business and getting accustomed with the tax system in
            your specific locality. Our tax preparation services can help clients file timely and accurate tax returns
            without overloading themselves at last date of return filling or stressing themselves for long hours. We
            have plenty of experience and knowledge about the US taxation rules and regulations and thus, we can help
            your business at every step of the way in filing tax returns and avoiding any potential penalties. </p>
          <h3>Our team specializes in the following fields:</h3>


          <ul>
            <li>Sales & Use Tax Returns Preparation</li>
            <li>Payroll Tax Returns Preparation</li>
            <li>Business Tax Return Preparation</li>
            <li>Personal Tax Return Preparation</li>
          </ul>


          <p>We can help you prepare sales and use tax returns by collecting all receipts from goods and services sold
            by your business and deducting any installments or other payments made during the year. When filing for
            sales and use tax returns, there is often confusion between the two types. The sales tax is levied on all
            retail sales and transactions whereas the use tax is levied when the former was not levied at the time and
            if company intends to use or consume goods or services out of state. We must make sure that you have all
            the sales receipts and are using the appropriate form to file for sales tax returns which is still required
            to be submitted even if business does not have any taxable sales over the accounting period. </p>

          <p>When filing for payroll tax returns, we recognize the need of having to enter vast amount of data for each
            employee. We use a systematic approach along with latest tools and technology to help you record hours
            worked, pay periods and the appropriate wage compensation by accounting for any health insurance or other
            contributions. It is important to use the appropriate state guidelines when filing for payroll tax returns
            and check if you are eligible for filing additional tax returns such as federal and state unemployment tax
            returns. Our team has the expertise to ensure that your payroll tax filing goes smoothly, and your business
            complies with all rules and guidelines set forth by your respective state. </p>

          <P>The process of filing for corporate and business tax returns is time consuming and lengthy. We can help
            you every step of the way from following the appropriate federal guidelines, using the appropriate forms to
            reviewing and reporting all income from your business activities accurately by considering all eligible
            deductions. We will start by using the relevant forms depending on the type of corporation. We will
            calculate all your expenses, dividends, profits and losses over the period and deduct part of the expenses
            such as depreciation, cost of goods sold and other office and property expenses. Here it is also important
            to consider other relevant expenses such as social security and medical related expenses. </P>

          <p>We can also help you file for personal tax returns for business owners in a sole proprietorship or other
            individuals. It is important to be aware of the self-employment tax return for small business owners when
            filing for this tax. If you are in a business partnership with other individuals, it is also possible to
            file for a qualified joint venture based on the shares held by the team members. To identify the right tax
            rules, our tax consultants are here to help you all the way through the filing. </p>

          <p>Our team is experienced and dedicated to take the hassle out of the entire tax return filing process. We
            can help you identify relevant taxes based on your business structure and use the appropriate guidelines
            and forms to calculate all relevant expenses to file your annual corporate or personal tax return in an
            accurate and timely manner.</p>
        </div>
      </div>
    </section>
  </div>
</div>