<br>
<br>
<br>
<div class="panel panel-default sidebar-menu with-icons">
  <div class="panel-heading">
    <h3 class="h4 panel-title">What we do</h3>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills flex-column text-sm">
      <li class="nav-item"><a routerLink="/what-we-do/bookeeping" class="nav-link" routerLinkActive="active">Bookeeping</a></li>
      <li class="nav-item"><a routerLink="/what-we-do/accounting" class="nav-link" routerLinkActive="active">Accounting</a></li>
      <li class="nav-item"><a routerLink="/what-we-do/tax-preparation" class="nav-link" routerLinkActive="active">Tax preparation</a></li>
      <li class="nav-item"><a routerLink="/what-we-do/payroll" class="nav-link" routerLinkActive="active">Payroll</a></li>
      <li class="nav-item"><a routerLink="/what-we-do/medical-billing" class="nav-link" routerLinkActive="active">Medical billing</a></li>
      <li class="nav-item"><a routerLink="/what-we-do/inventory-management" class="nav-link" routerLinkActive="active">Inventory management</a></li>
      <li class="nav-item"><a routerLink="/what-we-do/it-solutions" class="nav-link" routerLinkActive="active">IT Solutions</a></li>
    </ul>
  </div>
</div>