<section>
  <div class="container-fluid">
    <!-- Carousel Start-->
    <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../assets/img/banner-1.jpg" alt="Los Angeles">
        </div>
        <div class="carousel-item">
          <img src="../assets/img/Banner-2.jpg" alt="Chicago">
        </div>
        <div class="carousel-item">
          <img src="../assets/img/banner-1.jpg" alt="New York">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    <!-- Carousel End-->
  </div>
</section>

<section class="bar background-white">
  <div class="container">

    <div class="heading text-center">
      <h2 class="text-center">About Us</h2>
    </div>
    <div class="text-center">
      <p class="lead">CRSP Connect LLC USA is wholly owned subsidiary of CRSP Connect Pvt. Limited, India providing
        Knowledge Process Outsourcing services to CPA firms and other businesses across the USA.</p>

      <p class="lead">We specialize in quality bookkeeping, accountancy, payroll, taxation services, medical billing
        services,
        inventory management of various businesses as per the needs of our clients.</p>

      <a routerLink="/who-we-are/about-us" class="btn btn-template-outlined">Read More</a>
    </div>
  </div>

</section>

<section class="bar background-pentagon no-mb text-md-center">
  <div class="container">
    <div class="heading text-center">
      <h2>Services</h2>
    </div>
    <p class="lead">We have worked with many clients and we always like to hear they come out from the cooperation
      happy and satisfied. Have a look what our clients said about us.</p>
    <!-- Carousel Start-->
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="box-simple">
          <div class="icon-outlined"><i class="fa fa-desktop"></i></div>
          <h3 class="h4">Environmental Services</h3>
          <p>Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life
            us beast good yielding. Have bring.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="box-simple">
          <div class="icon-outlined"><i class="fa fa-print"></i></div>
          <h3 class="h4">Mining, Geological, Hydrogeology & Survey Services</h3>
          <p>Advantage old had otherwise sincerity dependent additions. It in adapted natural hastily is justice. Six
            draw you him full not mean evil. Prepare garrets it expense windows shewing do an.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="box-simple">
          <div class="icon-outlined"><i class="fa fa-globe"></i></div>
          <h3 class="h4">Legal Services</h3>
          <p>Am terminated it excellence invitation projection as. She graceful shy believed distance use nay. Lively
            is people so basket ladies window expect.</p>
        </div>
      </div>
    </div>
    <!-- Carousel End-->
  </div>
</section>

<section style="background: url(assets/img/fixed-background-2.jpg) center top no-repeat; background-size: cover;" class="bar no-mb color-white text-center bg-fixed relative-positioned">
  <div class="dark-mask"></div>
  <div class="container">
    <div class="icon icon-outlined icon-lg"><i class="fa fa-file-code-o"></i></div>
    <h3 class="text-uppercase">Do you want to see more?</h3>
    <p class="lead">We have prepared for you more than 40 different HTML pages, including 5 variations of homepage.</p>
    <p class="text-center">
      <a routerLink="/who-we-are/work-culture" class="btn btn-template-outlined-white btn-lg">See another homepage</a>
    </p>
  </div>
</section>