<section>
  <div class="container-fluid">
    <!-- Carousel Start-->
    <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../assets/image/home/banner-1.png" alt="Delivering Tailor made Outsourcing & Knowledge Services">
        </div>
        <div class="carousel-item">
          <img src="../assets/image/home/banner-2.jpg" alt="Supported by Team of Highly Qualified Accounting Professionals.">
        </div>
        <div class="carousel-item">
          <img src="../assets/image/home/banner-3.jpg" alt="Comprehensive accounting, payroll & tax services across USA. ">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    <!-- Carousel End-->
  </div>
</section>

<section class="bar background-white">
  <div class="container">

    <div class="heading text-center">
      <h2 class="text-center">About Us</h2>
    </div>
    <div class="text-center">
      <p class="lead">CRSP Connect is an outsourcing company and a trusted provider of efficient knowledge process
        outsourcing services for businesses in various sectors. With an experienced team of qualified accountants
        backed by a well functioning infrastructure, we specialize in finding effective offshore solutions tailored to
        the specific needs of our clients. </p>

      <a routerLink="/who-we-are/about-us" class="btn btn-template-outlined">Read More</a>
    </div>
  </div>

</section>

<section class="bar background-pentagon no-mb text-md-center">
  <div class="container">
    <div class="heading text-center">
      <h2>Services</h2>
    </div>
    <p class="lead">We collaborate with clients from multiple backgrounds to help them simplify business processes
      related to finance, accounting, taxation, payroll and much more. </p>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="box-simple">
          <div class="icon-outlined" routerLink="/what-we-do/bookeeping"><i class="fa fa-book"></i></div>
          <h3 class="h4">Bookkeeping Services</h3>
          <p>We can maintain your books and provide data entry, transaction processing and thorough reports to keep
            track of business expenditures and profitability. </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="box-simple">
          <div class="icon-outlined" routerLink="/what-we-do/accounting"><i class="fa fa-money"></i></div>
          <h3 class="h4">Accounting Services</h3>
          <p>We help you with preparing financial statements, general ledger and detailed analysis of your finances to
            uncover valuable insights for future growth. </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="box-simple">
          <div class="icon-outlined" routerLink="/what-we-do/tax-preparation"><i class="fa fa-globe"></i></div>
          <h3 class="h4">Tax Preparation Services</h3>
          <p>Our team is familiar with each state’s rules and regulations to help you correctly file for business tax
            returns, personal taxes, payroll taxes, etc.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="box-simple">
          <div class="icon-outlined" routerLink="/what-we-do/payroll"><i class="fa fa-bullhorn"></i></div>
          <h3 class="h4">Payroll Services</h3>
          <p>To ensure timely payments of wages, we help you with payroll processing, reconciliation, record keeping
            and tax filing according to state laws.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="box-simple">
          <div class="icon-outlined" routerLink="/what-we-do/medical-billing"><i class="fa fa-file-text"></i></div>
          <h3 class="h4">Medical Billing Services</h3>
          <p>We record accurate medical data related to diagnostics, demographics, insurance and provide detailed
            reports on billing and claims.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="box-simple">
          <div class="icon-outlined" routerLink="/what-we-do/inventory-management"><i class="fa fa-building"></i></div>
          <h3 class="h4">Inventory Management Services</h3>
          <p>Our huge infrastructure and connections with partners ensure tailor made solutions related to inventory
            planning, tracking and warehouse management.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="background: url(assets/image/home/why-should.jpg) center top no-repeat; background-size: cover;" class="bar no-mb color-white text-center bg-fixed relative-positioned">
  <div class="dark-mask"></div>
  <div class="container">
    <div class="icon icon-outlined icon-lg"><i class="fa fa-file-code-o"></i></div>
    <h3 class="text-uppercase">Why should you choose CRSP?</h3>
    <p class="lead">We have a strict quality control process and give the highest priority to data security of all our
      clients.</p>
    <p class="text-center">
      <a routerLink="/who-we-are/vision-and-mission" class="btn btn-template-outlined-white btn-lg">Find More</a>
    </p>
  </div>
</section>


<section class="bar background-pentagon no-mb text-md-center">
  <div class="container">
    <div class="heading text-center">
      <h2>Our Clients</h2>
    </div>
    <p class="lead">We work with clients from accounting, recruitment, healthcare, IT and other areas by providing
      unique solutions with a goal to establish long term relations. Our team understands the importance of time
      management and strive to deliver quick results as per their specific requirements. </p>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="box-simple">
          <div class="icon-outlined" routerLink="/our-clients/accountant"><i class="fa fa-book"></i></div>
          <h3 class="h4">Accountant</h3>
          <p>We help our accountant clients with time consuming tasks like bookkeeping, payroll and taxation so they
            can focus on issues critical to their business. </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="box-simple">
          <div class="icon-outlined" routerLink="/our-clients/healthcare"><i class="fa fa-medkit"></i></div>
          <h3 class="h4">Healthcare</h3>
          <p>We work with practitioners in both small and large organizations in healthcare to understand their need
            and deliver financial, payroll and billing services.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="box-simple">
          <div class="icon-outlined" routerLink="/our-clients/other-businesses"><i class="fa fa-envelope"></i></div>
          <h3 class="h4">Other Businesses</h3>
          <p>We help various businesses in healthcare, IT, finance, manufacturing with accounting, bookkeeping,
            budgeting, forecasting and inventory needs</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="box-simple">
          <div class="icon-outlined" routerLink="/our-clients/it-projects"><i class="fa fa-cogs"></i></div>
          <h3 class="h4">IT Projects</h3>
          <p>We provide technical expertise through data entry, reporting, analytics, software development by working
            with clients on several offshore IT projects. </p>
        </div>
      </div>

    </div>
  </div>
</section>


<section style="background: url(assets/image/home/want-to.jpg) center top no-repeat; background-size: cover;" class="bar no-mb color-white text-center bg-fixed relative-positioned">
  <div class="dark-mask"></div>
  <div class="container">
    <div class="icon icon-outlined icon-lg"><i class="fa fa-file-code-o"></i></div>
    <h3 class="text-uppercase">Want to save costs and reduce business risks?</h3>
    <p class="lead">We deliver outsourcing services through an expert team to clients from wide range of sectors.</p>
    <p class="text-center">
      <a routerLink="/contact-us" class="btn btn-template-outlined-white btn-lg">Contact Our Team</a>
    </p>
  </div>
</section>