<div id="heading-breadcrumbs">
  <div class="container">
    <div class="row d-flex align-items-center flex-wrap">
      <div class="col-md-7">
        <h1 class="h2">Csr</h1>
      </div>
      <div class="col-md-5">
        <ul class="breadcrumb d-flex justify-content-end">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Csr</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <app-who-we-are-sidebar></app-who-we-are-sidebar>
      </div>
      <div class="col-md-9">
        <section class="bar">
          <div class="row">
            <div class="col-lg-12">
              <div class="heading">
                <h2>Csr</h2>
              </div>
              <p>It is important for every business to reflect the human characteristics of giving back to the society.
                At
                CRSP, we care deeply about environmental and welfare issues. We aim to spread the message of nurturing
                our
                environment by promoting green lifestyle and eco friendly practices at the workplace. We constantly
                strive
                to eliminate wastage of resources and office supplies to promote a well-preserved environment. </p>
              <p>We have also taken initiative to frequently engage ourselves in volunteering activities to address
                some of
                issues in our society and take steps to combat them. </p>
              <p>We take pride in providing access to comprehensive training so that people who wish to work can become
                qualified. They should be able enough to handle basic accounting and administrative tasks to increase
                their
                suitability of contributing back to our organisation. </p>
              <p>We frequently offer internship positions to motivated students and less experienced workers. The goal
                of
                this program is to educate workforce and make them ready for their professional careers. It also gives
                us
                an opportunity to bring in young talent and get new perspectives on our work culture. We include them
                in
                all our company discussions and give them enough knowledge and feedback that helps them realize their
                potential and choose their respective career paths. </p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>