<!-- FOOTER -->
<footer class="main-footer">
  <div id="footer-outer-container">
    <div class="container" id="footer-inner-container">
      <div class="row">
        <div class="col-lg-4">
            <h4 class="h6" id="H6-new-york">NEW YORK, USA</h4>
            <p class="text-uppercase">Braj Aggarwal, CPA, P.C., 37-05 74th Street 3rd Floor, Jackson Heights, NY-USA-11372</p>
            <p class="text"><strong>Phone: </strong> +1 718-426-4661</p>
            <p class="text" style="margin-top: -16px;"><strong>Fax: </strong> +1 718-233-2525</p>
            <hr class="d-block d-lg-none">
        </div>
      
        <div class="col-lg-4">
          <h4 class="h6" id="h6-amdb">AHMEDABAD, INDIA</h4>
          <p class="text-uppercase">L7, Mahavir Nagar, Opp. Auda Garden, Nr. Shyamal Cross Road, Satellite, Ahmedabad (GUJ) – INDIA</p>
          <p class="text"><strong>Phone: </strong> +91 9898819000</p>
          <hr class="d-block d-lg-none">
        </div>

        <div class="col-lg-4">
            <h4 class="h6" id="h6-udp">UDAIPUR, INDIA</h4>
              <p class="text-uppercase" style="margin-bottom: 36px;">9E – Kothari Bhavan, Bhupalpura, Udaipur (RAJ) – INDIA</p>
              <p class="text"><strong>Phone: </strong> +91 9875770510, 9414157795</p>
              <hr class="d-block d-lg-none">
            <hr class="d-block d-lg-none">
        </div>
      </div>

      <div class="row">
          <div class="col-lg-4">
              <h4 class="h6">Quick Links</h4>
              <ul class="list-unstyled">
                  <li class="text-normal"><a routerLink="/who-we-are/about-us">About us</a></li>
                  <li class="text-normal"><a routerLink="/who-we-are/work-culture">Work culture</a></li>
                  <li class="text-normal"><a routerLink="/who-we-are/vision-and-mission">Vision and mission</a></li>
                  <li class="text-normal"><a routerLink="/who-we-are/csr">Csr</a></li>
                  <li class="text-normal"><a routerLink="/who-we-are/our-group-of-companies">Our group of companies</a></li>
                  <li class="text-normal"><a routerLink="/who-we-are/key-people">Key people</a></li>
                </ul>
          </div>
        
          <div class="col-lg-4">
            <h4 class="h6">ABOUT US</h4>
            <p class="text-normal">CRSP Connect LLC USA is wholly owned subsidiary of CRSP Connect Pvt. Limited, India providing Knowledge
          Process Outsourcing services to CPA firms and other businesses across the USA.</p>
          </div>
    
          <div class="col-lg-4">
              
          </div>
        </div>
    </div>
  </div>
  <div class="copyrights" id="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 text-center-md">
          <p>&copy; CRSP Connect 2018. All Rights Reserved</p>
        </div>
        <div class="col-lg-8 text-right text-center-md">
          <p> Designed & Developed by <a href="http://www.muskowl.com"> Musk Owl</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>