<!-- FOOTER -->
<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h4 class="h6">About Us</h4>
        <p>CRSP Connect LLC USA is wholly owned subsidiary of CRSP Connect Pvt. Limited, India providing Knowledge
          Process Outsourcing services to CPA firms and other businesses across the USA.</p>
      </div>
      <div class="col-lg-3">
        <h4 class="h6">Quick Links</h4>
        <ul class="list-unstyled">
          <li><a routerLink="/who-we-are/about-us">about us</a></li>
          <li><a routerLink="/who-we-are/work-culture">work culture</a></li>
          <li><a routerLink="/who-we-are/vision-and-mission">vision and mission</a></li>
          <li><a routerLink="/who-we-are/csr">csr</a></li>
          <li><a routerLink="/who-we-are/our-group-of-companies">our group of companies</a></li>
          <li><a routerLink="/who-we-are/key-people">key people</a></li>
        </ul>
        <hr class="d-block d-lg-none">
      </div>
      <div class="col-lg-3">
        <h4 class="h6">Services</h4>
        <ul class="list-unstyled">
          <li><a routerLink="/what-we-do/bookeeping">bookeeping</a></li>
          <li><a routerLink="/what-we-do/accounting">accounting</a></li>
          <li><a routerLink="/what-we-do/tax-preparation">tax preparation</a></li>
          <li><a routerLink="/what-we-do/payroll">payroll</a></li>
          <li><a routerLink="/what-we-do/medical-billing">medical billing</a></li>
          <li><a routerLink="/what-we-do/inventory-management">inventory management</a></li>
          <li><a routerLink="/what-we-do/it-solutions">it solutions</a></li>
        </ul>
        <hr class="d-block d-lg-none">
      </div>
      <div class="col-lg-3">
        <h4 class="h6">Contact</h4>
        <p class="text-uppercase">
          <strong>NEW YORK, USA</strong>
          <br>Braj Aggarwal,CPA, P.C. ,37-05 74th Street 3rd Floor, Jackson Heights,NY-USA-11372</p>
        <hr class="d-block d-lg-none">
      </div>

    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 text-center-md">
          <p>&copy; 2018.</p>
        </div>
        <div class="col-lg-8 text-right text-center-md">
          <p>developed by <a href="http://www.muskowl.com">Musk Owl</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>