<div id="heading-breadcrumbs" style="background: url(src/assets/image/who-we-are/about-us.jpg) center top no-repeat;">
  <div class="container">
    <div class="row d-flex align-items-center flex-wrap">
      <div class="col-md-7">
        <h1 class="h2">About Us</h1>
      </div>
      <div class="col-md-5" >
        <ul class="breadcrumb d-flex justify-content-end">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">About Us</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="content">

  <div class="container">
    <!-- <section>
      <div class="container-fluid">
        <div id="demo" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="src/assets/image/who-we-are/about-us.jpg" alt="Delivering Tailor made Outsourcing & Knowledge Services">
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <div class="row">
      <div class="col-md-3">
        <app-who-we-are-sidebar></app-who-we-are-sidebar>
      </div>
      <div class="col-md-9">
        <section class="bar">
          <div class="row">
            <div class="col-lg-12">
              <div class="heading">
                <h2>About Us</h2>
              </div>
              <p>CRSP Connect LLC USA is wholly owned subsidiary of CRSP Connect Pvt. Limited, India providing
                Knowledge
                Process Outsourcing services to CPA firms and other businesses across the USA.</p>
              <p>We specialize in quality bookkeeping, accountancy, payroll, taxation services, medical billing
                services,
                inventory management of various businesses as per the needs of our clients.</p>
              <p>We have our corporate office in New York, USA and Indian office at Udaipur, Rajasthan, India.</p>
              <p>CRSP Connect is managed by a team of qualified accountancy and financial professionals having more
                than 35
                years of experience.</p>
              <p>We feel that Outsourcing your finance and accounting tasks to CRSP Connect will encourage you to focus
                on
                your organizational growth as well as profitability. We are committed to provide special and
                personalized
                attention to our clients. This confidence of giving such commitment comes from years of practice,
                training
                and dedication.</p>
              <p>Our staff is comprehensively trained and qualified in all technical aspects of accounting and
                taxation.
                They hold professional qualifications from accredited institutions and are extremely well versed with
                practical matters like local regulations and guidelines. We provide detailed training to our staff to
                communicate and understand client needs by providing seamless experience.</p>
              <p>Our well-built infrastructure accommodates all our systems and staff by providing a productive working
                environment. We have established strict quality control measures to check accuracy and quality of each
                project at all phases of completion. Everyone at CRSP understands the importance of delivering results
                under strict deadlines and there is always a sense of unity among our team members to complete projects
                under the promised time frame.</p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- <section class="bar background-pentagon no-mb">
    <div class="container">
      <div class="row showcase text-center">
        <div class="col-md-3 col-sm-6">
          <div class="item">
            <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-align-justify"></i></div>
            <h4><span class="h1 counter">580</span><br> Websites</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="item">
            <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-users"></i></div>
            <h4><span class="h1 counter">100</span><br>Satisfied Clients</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="item">
            <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-copy"></i></div>
            <h4><span class="h1 counter">320</span><br>Projects</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="item">
            <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-font"></i></div>
            <h4><span class="h1 counter">923</span><br>Magazines and Brochures</h4>
          </div>
        </div>
      </div>
    </div>
  </section> -->


</div>